version: '3.8'

services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    env_file:
      - .env
    ports:
      - "5432:5432"

  user-service:
    build: ./user_service
    command: gunicorn user_project.wsgi:application --bind 0.0.0.0:8001
    ports:
      - "8001:8001"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - ./user_service:/app

  product-service:
    build: ./product_service
    command: gunicorn product_project.wsgi:application --bind 0.0.0.0:8002
    ports:
      - "8002:8002"
    env_file:
      - .env
    volumes:
      - ./product_service:/app
    depends_on:
      - user-service
      - db

  order-service:
    build: ./order_service
    command: gunicorn order_project.wsgi:application --bind 0.0.0.0:8003
    ports:
      - "8003:8003"
    env_file:
      - .env
    volumes:
      - ./order_service:/app
    depends_on:
      - notification-service
      - product-service
      - db

  ai-service:
    build: ./ai_service
    command: gunicorn ai_project.wsgi:application --bind 0.0.0.0:8004
    ports:
      - "8004:8004"
    env_file:
      - .env
    volumes:
      - ./ai_service:/app
    depends_on:
      - db

  admin-service:
    build: ./admin_service
    command: gunicorn admin_project.wsgi:application --bind 0.0.0.0:8005
    ports:
      - "8005:8005"
    env_file:
      - .env
    volumes:
      - ./admin_service:/app
      - ./media:/app/media
    depends_on:
      - db

  notification-service:
    build: ./notification_service
    command: gunicorn notification_project.wsgi:application --bind 0.0.0.0:8006
    ports:
      - "8006:8006"
    env_file:
      - .env
    volumes:
      - ./notification_service:/app
    depends_on:
      - db

  payment-service:
    build: ./payment_service
    command: gunicorn payment_project.wsgi:application --bind 0.0.0.0:8007
    ports:
      - "8007:8007"
    env_file:
      - .env
    volumes:
      - ./payment_service:/app
    depends_on:
      - db

  blog-service:
    build: ./blog_service
    command: gunicorn blog_service.wsgi:application --bind 0.0.0.0:8008
    ports:
      - "8008:8008"
    env_file:
      - .env
    volumes:
      - ./blog_service:/app
    depends_on:
      - db

volumes:
  postgres_data:
